# AWS S3 Configuration
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
NEXT_PUBLIC_AWS_REGION=AWS_REGION
NEXT_PUBLIC_AWS_S3_BUCKET_NAME=AWS_S3_BUCKET_NAME

# IDMission Lambda Function
NEXT_PUBLIC_IDMISSION_LAMBDA_FUNCTION=idmission-biometric-enrollment

# IDMission API Credentials
IDMISSION_USERNAME=your_idmission_username
IDMISSION_PASSWORD=your_idmission_password
IDMISSION_CLIENT_ID=your_client_id
IDMISSION_CLIENT_SECRET=your_client_secret
IDMISSION_API_KEY=your_api_key
IDMISSION_API_SECRET=your_api_secret

# DynamoDB Table
NEXT_PUBLIC_DYNAMODB_TABLE_NAME=DYNAMODB_TABLE_NAME