# AWS S3 Configuration
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=aws_access_key
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=aws_secret_key
NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_AWS_S3_BUCKET_NAME=face-visa-selfies
# IDMission Lambda Function
NEXT_PUBLIC_IDMISSION_LAMBDA_FUNCTION=idmission-biometric-enrollment

# DynamoDB Table
NEXT_PUBLIC_DYNAMODB_TABLE_NAME=face-visa-users


JWT_SECRET=jwt_secret

#SMTP Credentials
Next_PUBLIC_SMTP_NAME=avilash_smtp
Next_PUBLIC_SMTP_USERNAME=smtp_user
Next_PUBLIC_SMTP_PASSWORD=smtp_password
SES_FROM_EMAIL=smtp_email